extends ../base
block append variables
  - var title = 'Блог'
  - var description = 'Статьи, которые я написал'
  - 
    var hardcode_data = [
      {
        id: 1, 
        date: "12 марта 2017",
        name: "Математика — эталон лаконичности", 
        value: "<p>Математика — одна из дисциплин, в которых краткость вполне обоснована: математический язык емкий и исчерпывающий, а формулы, схемы и иллюстрации могут оказаться «эффективнее тысячи слов». Однако в 2005 году ученые Джон Конуэй (Johm Conway) и Александр Сойфер (Alexander Soifer) решили написать «самую короткую научную статью по математике в мире».</p> <p>Непосредственно тело статьи состоит из двух слов (и двух иллюстраций — в них содержится ответ на вопрос, поставленный в заглавии). Журнал American Mathematical Monthly поначалу отнесся к оформлению статьи скептически и попросил дописать «хотя бы пару строк». Однако ученые не сдались и аргументировали свою позицию тем, что уважаемый научный журнал не может отказать в публикации, основываясь на том, что предпочитает количество текста его качеству. В итоге — не без прений между авторами статьи и редакцией журнала — материал все-таки был опубликован.</p> <p>Однако, несмотря на лаконичность математического языка, примеров объемных статей и публикаций в математике не меньше, а даже больше. Например, доказательство теоремы Робертсона-Сеймура о минорах графа заняло 500 страниц и более 20 статей (объемным доказательствам теорем даже посвящена отдельная страница в Википедии).</p>"
      },
      {
        id: 2, 
        date: "14 марта 2017",
        name: "Самая короткая научная статья", 
        value: "<p>В 1974 году клинический психолог Деннис Аппер находился в творческом кризисе. Что-то мешало ему сесть и написать требуемую статью. В конце концов, психолог решил провести над собой научный эксперимент в надежде преодолеть «писательский блок». И как чаще всего происходит с экспериментами, попытка ученого окончилась не совсем успешно, вернее - полным крахом.</p> <p>Несмотря на это его статья под названием «Неудачная попытка самостоятельно преодолеть творческий кризис» была опубликована в престижном журнале Journal of Applied Behavioral Analysis. Её содержание было пусто.</p>"
      },
      {
        id: 3, 
        name: "Бесплатные онлайн-игры, которые обучат вас программировать", 
        date: "17 марта 2017",
        value: "<p>CodinGame</p><p>На CodinGame с помощью написания кода и создания собственного «искусственного интеллекта» вам предстоит решить самые разнообразные и весёлые проблемы. Сайт поддерживает все языки программирования.</p><p>Code Combat</p><p>CodeCombat — это платформа для студентов и школьников, позволяющая изучить компьютерные науки, играя в настоящие игры. Красочная анимация и интересный сюжет, кланы, взаимодействие с тысячами других игроков по всему миру — вот что вам предстоит увидеть. Поддерживаются такие языки, как Java, JavaScript, Python, Lua, CoffeeScript. Имеется русская локализация.</p><p>Ruby Warrior</p><p>Если вы хотите изучить Ruby, то Ruby Warrior — то, что вам нужно. Есть два уровня сложности, соответствующих вашим навыкам. Для сохранения своего прогресса придётся залогиниться через Facebook.</p><p>Check iO</p><p>Check iO — это браузерная игра в жанре «Приключение», которая научит вас программировать на Python.</p>"
      },
    ]

block content
  .container.blog-container
    header.header.blog__header  
      include ../parts/blog_header
    main.blog__content
      svg.angles-svg
        use(xlink:href='assets/images/sprite.svg#bg')
      nav.content__nav
        ul.nav__list
          each item in hardcode_data
            li.nav__item 
              a.nav__link(href=`#${item['id']}`) #{item['name']}
      section.content__article-list
        each item in hardcode_data
          article.content__article
            h2.article__title(id=`${item['id']}`) #{item['name']}
            .posted-at #{item['date']}
            .article__content !{item['value']}
    footer.footer-container.blog__footer
      include ../parts/footer
  
